@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    --bottom-height: 100px;
  }
}

@layer components {
  .outside {
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  .bottom {
    @apply border-t border-grey-400;
    @apply fixed bottom-0 left-0 right-0 bg-white;
  }

  button {
    border-radius: 99999px !important;
    text-transform: none !important;
  }
}

@layer components {
  .top {
    @apply flex flex-col;
  }

  .table-container {
    overflow: scroll;
    @apply mx-3 mb-3;
    @apply border border-grey-300;
  }

  .table-container table {
    @apply border-separate border-spacing-0;
  }

  .table-container thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
  }

  .table-container th {
    /* @apply border-b border-grey-500; */
  }

  th,
  td {
    transition: background-color 0.3s;
    @apply border-grey-300;
  }

  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    background-color: white;
  }

  th:last-child,
  td:last-child {
    /* @apply border-r-0 border-b-0; */
  }

  th:not(:last-child),
  td:not(:last-child) {
    @apply border-r;
  }

  .table-container tbody tr:not(:last-child) td,
  .table-container thead th {
    @apply border-b border-grey-300;
  }
}
