@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    --bottom-height: 100px;
  }
}

@layer components {
  .outside {
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  .bottom {
    @apply border-t border-grey-400;
    @apply fixed bottom-0 left-0 right-0 bg-white;
  }

  button {
    border-radius: 99999px !important;
    text-transform: none !important;
  }
}

@layer components {
  .top {
    display: flex;
    height: 100vh;
    /* max-height: calc(100vh - 150px); */
  }

  .table-container {
    overflow: scroll;
    @apply m-3;
  }

  .table-container table {
    @apply border-separate border-spacing-0;
    @apply border-t border-grey-300;
  }

  .table-container thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
  }

  .table-container th {
    /* @apply border-b border-grey-500; */
  }

  th,
  td {
    padding: 5px 10px;
    @apply border-r border-b border-grey-300;
    transition: background-color 0.3s;
  }

  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    background-color: white;
    @apply border-l;
  }
}
